<launch>
  <!--Virtual Point cloud camera -->
  <rosparam command="load" file="$(find vcam3d)/config/camera.yaml" />
  <rosparam ns="camera" command="load" file="$(find vcam3d)/param/camera.yaml" />
  <node ns="camera" pkg="vcam3d" type="vcam.py" name="" output="screen" />

  <!--Virtual 2D camera (only camera parameter)-->
  <node ns="camera" pkg="rostopic" name="camera_info" type="rostopic"
      args="pub camera_info sensor_msgs/CameraInfo
     '{header: {seq: 0, stamp: {secs: 0, nsecs: 0}, frame_id: 'camera'},
      height: 480, width: 640, distortion_model: 'plumb_bob',
      D: [0],
      K: [2070.3208281890875, 0.0, 451.6704559326172, 0.0, 2070.3208281890875, 477.6067123413086,
      0.0, 0.0, 1.0],
      R: [1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0],
      P: [1035.8376579761182, 0.0, 226.62960815429688, 0.0, 0.0, 1035.8376579761182,
      224.84519386291504, 0.0, 0.0, 0.0, 1.0, 0.0]}' -r 1" />
</launch>
